<ul id="gallery-{{ settings.instance }}" class="gallery just-gallery grid effect-2 galleryid-{{ settings.id }} gallery-columns-{{ settings.columns }} gallery-size-{{ settings.size }}">
 {% for image in images %}
  <li>
    <a href="{{ image.src|resize('1000') }}">
        <img src="{{ image.src|resize(350) }}" alt="{{ image.title ? image.title: image.data.image_meta.credit }}" class="img-responsive">
    </a>
      <p>{{ image.title ? image.title: image.data.image_meta.credit }}</p>
    </li>
  {% endfor %}
</ul>
<script>
  new AnimOnScroll( document.getElementById( 'gallery-{{ settings.instance }}' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );
</script>
